<!--{if $_G['uid']}-->
<div id="login">
    <a href="home.php?mod=space&do=notice&view=mypost" class="header_msg_wrap">
        <span class="headerbtn header_msg">{lang pm_center}</span>
        <span class="msgnum"><!--{if $_G[member][newprompt]}-->($_G[member][newprompt])<!--{/if}--></span>
    </a>
    <a href="home.php?mod=space&uid=$_G[uid]" onmouseover="showMenu({'ctrlid':'user_con','pos':'34'});" class="user cl" id="user_con">
        <span class="user_name">{$_G[member][username]}</span><!--{avatar($_G[uid],small)}-->
    </a>
</div>
<!--{else}-->
<div id="login">
    <a class="loginbtn" href="./member.php?mod=logging&action=login">{lang login}</a>
    <a href="./member.php?mod=register" class="registerbtn">注册</a>
</div>
<!--{/if}-->